# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\excel_automation\groupProjects\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
./Result/
